[Unit]
Description=SweetSnek SSH Submodule
PartOf=sweet_snek.service
After=sweet_snek.service
# This unit should start after the honey_log service has started
After=honey_log.service

[Service]
WorkingDirectory=/root/sweetSnek/honey_ssh
ExecStart=/root/sweetSnek/env/bin/python3.10 /root/sweetSnek/honey_ssh/ssh_server.py -p 22 --high-interaction
Restart=always

[Install]
WantedBy=sweet_snek.service
