[Unit]
Description=SweetSnek SMB Submodule
PartOf=sweet_snek.service
After=sweet_snek.service
# This unit should start after the honey_log service has started
After=honey_log.service

[Service]
WorkingDirectory=/root/sweetSnek/
ExecStart=/root/sweetSnek/honey_smb/HoneySMB2/env/bin/python2.7 /root/sweetSnek/honey_smb/HoneySMB2/smbserver.py
Restart=on-failure

[Install]
WantedBy=sweet_snek.service
